#starP{
    position: relative;
    margin:0;
}
#priceP{
    display:block;
    width:100%;
}
#itemStateContainer{
    position: absolute;
    top:5px;
    right:5px;
    padding: 5px 10px;
    border-radius: 5px;
}
#itemStateContainer p{
    color:white;
    margin: 0;
}

.listingTitle{
    font-size: 20px !important;
}
.mediumBigText{
    font-size: 18px !important;
}

#starP img{
    height:25px;
    display: inline-block;
    margin:0 2.5px 0 0;
}
.bottomGradient{
    background:linear-gradient(180deg,rgba(0,0,0,0) 50%,rgba(0,0,0,0.9));
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 50%;
}
.topGradient{
    background:linear-gradient(0deg,rgba(0,0,0,0) 50%,rgba(0,0,0,0.9));
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 50%;
}
.userInfoDivisor{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width:50%;
    height: auto;
    left:0;
    top:0;
    margin:5px;
    padding:0;
}
#productPicture{
    overflow:hidden;
}
#productTextContainer{
    position: relative;
    display: block;
    left: 0;
    top:0;
    width: 100%;
    padding:0 15px;
}
#userPicture{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: 0;
    top:0;
    width:35px;
    height: 35px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 10px 0 0;
}
@media screen and (min-width:1130px){

    #mainContainer{
        position: relative;
        left:0;
        top:0;
        width:calc((80vw - 80px) / 4);
        height:auto;
        min-height: 50px;
        background-color: #f9f9f9;
        border-radius: 10px;
        /*box-shadow: rgb(28 28 28 / 8%) 0px 1.42623px 2.85246px;*/
        padding: 0 0 15px 0;
        display: inline-block;
        margin:0 20px 10px 0;
        vertical-align: top;
    }
    #productPicture{
        position: relative;
        display: block;
        width:100%;
        top:0;
        left:0;
        height:calc((85vw - 80px) / 4);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        padding:0 20px;
        max-height: 500px;
    }
}

@media screen and (min-width:780px) and (max-width:1130px){

    #mainContainer{
        position: relative;
        left:0;
        top:0;
        width:calc((80vw - 60px) / 3);
        min-width: 240px;
        height:auto;
        min-height: 50px;
        background-color: #f9f9f9;
        border-radius: 10px;
        /*box-shadow: rgb(28 28 28 / 8%) 0px 1.42623px 2.85246px;*/
        border:1px solid #ededed;
        padding: 0 0 15px 0;
        display: inline-block;
        margin:0 20px 10px 0;
        vertical-align: top;
    }
    #productPicture{
        position: relative;
        display: block;
        width:100%;
        top:0;
        left:0;
        height:calc((90vw - 60px) / 3);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        padding:0 20px;
        max-height: 500px;
    }
}
@media screen and (max-width:780px){
    #productTextContainer{
        position: relative;
        display: block;
        left: 0;
        top:0;
        width: 100%;
        padding:0 20px;
    }
    #itemStateContainer{
        position: absolute;
        top:10px;
        right:10px;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .listingTitle{
        font-size: 25px !important;
    }
    .mediumBigText{
        font-size: 20px !important;
    }

    #userPicture{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        left: 0;
        top:0;
        width:35px;
        height: 35px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 10px 0 0;
    }
    #mainContainer{
        position: relative;
        left:0;
        top:0;
        width:100%;
        height:auto;
        min-height: 50px;
        background-color: #fff;
        padding: 20px 0 20px 0;
        display: inline-block;
        margin:0;
        border-width: 10px 0 0 0;
        border-color: #e1e1e1;
        border-style: solid;
        /* border-bottom: 1px solid rgba(0,0,0,0.3); */
    }
    /* #mainContainer:last-child{
        border-bottom: none !important;
    } */
    #productPicture{
        position: relative;
        display: block;
        width:calc(100% - 40px);
        top:0;
        left:20px;
        height:calc(100vw);
        max-height: 600px;
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


#mainContainer a{
    text-decoration: none;
}
/*.priceP{*/
/*    position: absolute;*/
/*    bottom:20px;*/
/*    right:20px;*/
/*    margin:0;*/
/*    color:#fff;*/
/*}*/


#userTextContainer{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: 0;
    top:0;
    width: calc(100% - 90px - 1em);
    height: max-content;
}
#userTextContainer p{
    position: relative;
    display: block;
    left:0;
    top:0;
    width: 100%;
    height: auto;
    color:#fff;
}


#productTextContainer p{
    margin:0 0 10px 0;
    color:#000;
    text-decoration: none;
}
#productTextContainer p:last-child{
    margin:0 !important;
}


.mainDivisors{
    position: relative;
    display: block;
    width:100%;
    height: auto;
    left:0;
    top:0;
    margin:0 0 15px 0;
    padding:0;
}
.mainDivisors:last-child{
    margin:0;
}
.noMarginP{
    margin: 0;
}