
.starIcon{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height:30px;
}
.separatorLine{
    display: none;
}

@media screen and (max-width:780px){
    .separatorLine{
        position: relative;
        width:calc(100% + 40px);
        left:-20px;
        height:10px;
        background-color: #e1e1e1;
        margin:0 0 20px 0;
        display: block;
    }
    .regularText{
        margin:0 0 20px 0;
        width:100%;
        
    }
    .regularTextHalfMargin{
        margin:0 0 10px 0;
        width:100%;
    }
    .regularTextNoMargin{
        margin:0;
        width:100%;
    }
    .innerMainContainer{
        position: relative;
        top:0;
        left:0;
        width:100%;
        background-color: transparent;
        min-height: 30px;
        padding:20px 20px 0 20px;
        margin:0 0 150px 0;
    }
    #topMainContainer{
        position: relative;
        top:0;
        left:0;
        width:100%;
        height:max-content;
        margin:20px 0 20px 0;
        
    }
    #headerImgDiv{
        position: relative;
        top:0;
        left:0;
        width:100%;
        padding:60px 0;
        background-color:beige;
    }
    
    #mainPictureImg{
        width:50%;
        height:calc(50vw - 40px);
        background-color: grey;
        border-radius: 10px;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        overflow:hidden;
    }

    .smallPicturesContainer{
        width:50%;
        height:calc(50vw - 40px);
        display: inline-block;
        vertical-align: middle;
    }

    .smallPictureImg{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin:0 0 10px 10px;
        background-color: rgb(170, 32, 32);
        height:calc(50% - 5px);
        width:calc(50% - 10px);
        border-radius: 10px;
    }
    .reviewCardContainer{
        position: relative;
        display: inline-block;
        left:0;
        top:0;
        width:100%;
        max-width: 400px;
        height: max-content;
        vertical-align: middle;
        margin:0 20px 20px 0;
    }
    #sellerTextMainContainer div{
        position: relative;
        display: block;
        left:0;
        margin:0 0 5px 0;
        width:max-content;
        height:max-content;
    }
    .listingComponentsMainContainer{
        position: relative;
        display: block;
        width:100%;
        left:0;
        padding: 0;
        margin:0 0 40px 0;
    }
    .followButtonMainContainer{
        display: inline-block;
        padding: 20px 0 0 0;
        width: calc(100% - 90px);
    }
}
@media screen and (min-width:780px){
    .linkP{
        text-decoration: none;
        color:#ff7700;
        margin:0 0 20px 0;
        width:100%;
        padding:0 20px;
    }
    .regularText{
        margin:0 0 20px 0;
        width:100%;
        max-width: 650px;
    }
    .regularTextHalfMargin{
        margin:0 0 10px 0;
        width:100%;
        max-width: 650px;
    }
    .regularTextNoMargin{
        margin:0;
        width:100%;
        max-width: 650px;
    }
    
    .innerMainContainer{
        position: relative;
        top:0;
        left:50%;
        transform: translateX(-50%);
        width:75%;
        background-color: transparent;
        min-height: 30px;
        padding:85px 0 0 0;
        margin:0 0 300px 0;
    }
    #headerImgDiv{
        position: relative;
        top:0;
        left:0;
        width:100%;
        padding:80px 20px;
        border-radius: 10px;
        background-color:beige;
    }
    #headlineP{
        padding:0 15px;
        max-width: 500px;
        margin:0 0 30px 0;
    }
    #topMainContainer{
        position: relative;
        top:0;
        left:0;
        width:100%;
        height:max-content;
        background-color: transparent;
        margin:65px 0 0 0;
        padding:65px 0;
    }
    #mainPictureImg{
        width:330px;
        height:330px;
        background-color: grey;
        border-radius: 10px;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    .smallPicturesContainer{
        width:calc(100% - 330px);
        height:330px;
        display: inline-block;
        vertical-align: middle;
    }

    .smallPictureImg{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin:0 0 20px 20px;
        background-color: rgb(170, 32, 32);
        height:155px;
        width:155px;
        border-radius: 10px;
    }
    .reviewCardContainer{
        position: relative;
        display: inline-block;
        left:0;
        top:0;
        width:50%;
        max-width: 400px;
        height: max-content;
        vertical-align: middle;
        margin:0 20px 20px 0;
    }
    #sellerTextMainContainer div{
        position: relative;
        display: block;
        left:0;
        margin:0 0 10px 0;
        width:max-content;
        height:max-content;
    }
    .listingComponentsMainContainer{
        position: relative;
        display: block;
        width:100%;
        left:0;
        padding: 0 40px 0 0;
        margin:0 0 40px 0;
    }
    .followButtonMainContainer{
        position: relative;
        display: inline-block;
        width:max-content;
        vertical-align: middle;
        left:0;
        padding: 0 40px 0 0;
    }
}

.listingSmallCard{
    position: relative;
    display: inline-block;
    left:0;
    width:250px;
    height:max-content;
    margin:0 10px 0 0;
    color:#000;
    text-decoration: none;
}
.listingPicture{
    position: relative;
    width:100%;
    height:140px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin:0 0 10px 0;
    overflow:hidden;
}
.listingPicture::before{
    background:linear-gradient(180deg,rgba(0,0,0,0) 50%,rgba(0,0,0,0.9));
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
.listingPrice{
    position: absolute;
    bottom:10px;
    right:10px;
    margin:0;
    color:#fff; 
}
.listingCarousel{
    position: relative;
    left:0;
    width:100%;
    white-space: nowrap;
    overflow-x: auto;
    padding:0 0 40px 0;
}

.profilePictureImg{
    position: relative;
    display: inline-block;
    left:0;
    width:80px;
    height:80px;
    border-radius: 50%;
    vertical-align: middle;
    margin:0 10px 0 0;
    border:1px solid rgb(63, 63, 63);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profilePictureImg img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    height:60%;
}
.reviewProfilePictureImg{
    position: relative;
    display: inline-block;
    left:0;
    width:45px;
    height:45px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: grey;
    margin:0 10px 0 0;
}
#sellerTextMainContainer{
    position: relative;
    display: block;
    left:0;
    height: max-content;
    width: max-content;
    vertical-align: middle;
    margin: 0 20px 0 0;
    padding: 20px 0 0 0;
}

#sellerTextMainContainer div:last-child{
    margin:0 !important;
}
.buttonCta{
    display: block;
    position: relative;
    left:100%;
    transform: translateX(-100%);
    margin:0 10px 0 0;
    padding:10px 20px;
}

#sellerTextMainContainer p{
    color:#000;
    text-decoration: none;
}



.reviewCardContainer a{
    text-decoration: none;
    color:#000;
}
.reviewCardInnerContainer{
    position: relative;
    display: block;
    left:0;
    width: 100%;
    margin:0 0 10px 0;
}
.reviewCardInnerContainer p{
    display: inline-block;
    position: relative;
    vertical-align: middle;
}